body
{
   background-color: #808080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#YouTube1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube2
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube3
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube4
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube5
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#YouTube6
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube7
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube8
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube9
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube10
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube11
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube12
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube13
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube14
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube15
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube16
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube17
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube18
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube19
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube20
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube21
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube22
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube23
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube24
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube25
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube26
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube27
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube28
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube29
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube30
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube31
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube32
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube33
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube34
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube35
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube36
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube37
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube38
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube39
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube40
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube41
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube42
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube43
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube44
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube45
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube46
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube47
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube48
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube49
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube50
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube51
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube52
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_CssMenu1
{
   border: 0px solid #FF0000;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 16.66%;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FF0000;
   border: 1px double #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #111111;
   border: 1px double #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu1
{
   position: absolute;
   left: 371px;
   top: 15px;
   width: 1121px;
   height: 29px;
   z-index: 54;
}
#wb_YouTube39
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 40;
}
#wb_YouTube38
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 39;
}
#wb_YouTube37
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 38;
}
#wb_YouTube36
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 37;
}
#wb_YouTube35
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 36;
}
#wb_YouTube34
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 35;
}
#wb_YouTube33
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 34;
}
#wb_YouTube32
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 33;
}
#wb_YouTube31
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 32;
}
#wb_YouTube30
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 31;
}
#wb_YouTube3
{
   position: absolute;
   left: 688px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 3;
}
#wb_YouTube8
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 9;
}
#wb_YouTube9
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 10;
}
#wb_YouTube49
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 50;
}
#wb_YouTube48
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 49;
}
#wb_YouTube47
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 48;
}
#wb_YouTube46
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 47;
}
#wb_YouTube45
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 46;
}
#wb_YouTube44
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 45;
}
#wb_YouTube43
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 44;
}
#wb_YouTube42
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 43;
}
#wb_YouTube41
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 42;
}
#wb_YouTube40
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 41;
}
#wb_YouTube4
{
   position: absolute;
   left: 1021px;
   top: 192px;
   width: 298px;
   height: 167px;
   z-index: 4;
}
#wb_YouTube52
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 53;
}
#wb_YouTube51
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 52;
}
#wb_YouTube50
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 51;
}
#wb_YouTube5
{
   position: absolute;
   left: 1356px;
   top: 192px;
   width: 298px;
   height: 167px;
   z-index: 5;
}
#wb_YouTube6
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   z-index: 7;
}
#wb_YouTube7
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 8;
}
#wb_Heading1
{
   position: absolute;
   left: 750px;
   top: 68px;
   width: 503px;
   height: 71px;
   z-index: 6;
}
#wb_YouTube19
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 20;
}
#wb_YouTube18
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 19;
}
#wb_YouTube17
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 18;
}
#wb_YouTube16
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 17;
}
#wb_YouTube15
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 16;
}
#wb_YouTube14
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 15;
}
#wb_YouTube13
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 14;
}
#wb_YouTube12
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 13;
}
#wb_YouTube11
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 12;
}
#wb_YouTube10
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 11;
}
#wb_YouTube1
{
   position: absolute;
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   z-index: 1;
}
#wb_YouTube29
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 30;
}
#wb_YouTube28
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 29;
}
#wb_YouTube27
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 28;
}
#wb_YouTube26
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 27;
}
#wb_YouTube25
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 26;
}
#wb_YouTube24
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 25;
}
#wb_YouTube23
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 24;
}
#wb_YouTube22
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 23;
}
#wb_YouTube21
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 22;
}
#wb_YouTube20
{
   position: absolute;
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 21;
}
#wb_YouTube2
{
   position: absolute;
   left: 355px;
   top: 193px;
   width: 298px;
   height: 167px;
   z-index: 2;
}
@media only screen and (min-width: 1920px) and (max-width: 1979px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 23px;
   top: 2484px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_YouTube1
{
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube2
{
   left: 541px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 872px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 1204px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 1531px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Heading1
{
   left: 780px;
   top: 68px;
   width: 503px;
   height: 71px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_YouTube6
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube7
{
   left: 146px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 1501px;
   top: 439px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 146px;
   top: 439px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 483px;
   top: 439px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 822px;
   top: 439px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 1162px;
   top: 439px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 146px;
   top: 931px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 822px;
   top: 931px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 483px;
   top: 931px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 1162px;
   top: 931px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 1502px;
   top: 931px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 143px;
   top: 686px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 482px;
   top: 686px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 822px;
   top: 686px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 1162px;
   top: 686px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 1501px;
   top: 686px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 143px;
   top: 1419px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 482px;
   top: 1419px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 822px;
   top: 1419px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 1162px;
   top: 1419px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 1502px;
   top: 1419px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 146px;
   top: 1174px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 483px;
   top: 1174px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 822px;
   top: 1174px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 1162px;
   top: 1174px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 1502px;
   top: 1174px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 1502px;
   top: 1669px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 143px;
   top: 1912px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 483px;
   top: 1912px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 822px;
   top: 1912px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 1162px;
   top: 1912px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 1501px;
   top: 1912px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 146px;
   top: 1669px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 482px;
   top: 1669px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 822px;
   top: 1669px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 1162px;
   top: 1669px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 143px;
   top: 2405px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 483px;
   top: 2405px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 822px;
   top: 2405px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 1502px;
   top: 2159px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 1162px;
   top: 2405px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 1501px;
   top: 2405px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 822px;
   top: 2159px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 1162px;
   top: 2159px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 146px;
   top: 2159px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 483px;
   top: 2159px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1919px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_YouTube1
{
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube2
{
   left: 355px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 688px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 1021px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 1356px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Heading1
{
   left: 750px;
   top: 68px;
   width: 503px;
   height: 71px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_YouTube6
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube7
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_YouTube1
{
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube2
{
   left: 355px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 688px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 1021px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 1356px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Heading1
{
   left: 750px;
   top: 68px;
   width: 503px;
   height: 71px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_YouTube6
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube7
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_YouTube1
{
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube2
{
   left: 355px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 688px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 1021px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 1356px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Heading1
{
   left: 750px;
   top: 68px;
   width: 503px;
   height: 71px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_YouTube6
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube7
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_YouTube1
{
   left: 36px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube2
{
   left: 355px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 688px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 1021px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 1356px;
   top: 192px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Heading1
{
   left: 750px;
   top: 68px;
   width: 503px;
   height: 71px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_YouTube6
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_YouTube7
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 39px;
   top: 193px;
   width: 298px;
   height: 167px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
