body
{
   background-color: #808080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(28%) sepia(76%) saturate(3114%) hue-rotate(210deg) brightness(103%) contrast(99%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(36%) sepia(53%) saturate(7493%) hue-rotate(211deg) brightness(101%) contrast(100%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Section1
{
   height: 208px;
   margin: 0;
   background-color: #000000;
   background-image: none;
   border: 1px solid #EEEEEE;
   border-radius: 0px;
   text-align: center;
}
#Section1-card-body
{
   font-size: 0;
}
#YouTube1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube2 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube2
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube3
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube4
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube5
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube6 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube6
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube7 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube7
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube8 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube8
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube9 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube9
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube10 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube10
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube11 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube11
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube12 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube12
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube13 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube13
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube14 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube14
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube15 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube15
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube16 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube16
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube20 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube20
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube21 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube21
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube22 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube22
{
   display: block;
   width: 100%;
   height: 100%;
}
#YouTube32 img
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 5px solid #3CB371;
   border-radius: 0px;
}
#YouTube32
{
   display: block;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   padding: 0;
   animation: flip 3000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 30px;
   width: 178px;
   float: left;
   margin: 0 4px 0 0;
}
#NavigationBar1 ul.navbar li a
{
   position: relative;
   display: block;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 30px;
   width: 178px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1 a .hover
{
   visibility: hidden;
}
#NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#NavigationBar1 a:hover span
{
   visibility: hidden;
}
#Editbox1
{
   line-height: 64px;
   margin: 0;
   border: 1px solid #EEEEEE;
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ClipArt3
{
   top: 0px;
   width: 61px;
   height: 59px;
   background-color: #FF0000;
   background-image: none;
   border: 0px #3CB371 solid;
   -webkit-clip-path: url(#ClipArt3-clippath);
   clip-path: url(#ClipArt3-clippath);
}
#ClipArt3:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#ClipArt9
{
   top: 0px;
   width: 61px;
   height: 59px;
   background-color: #FF0000;
   background-image: none;
   border: 0px #FF0000 solid;
   -webkit-clip-path: url(#ClipArt9-clippath);
   clip-path: url(#ClipArt9-clippath);
}
#ClipArt9:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#Shape1
{
   width: 318px;
   height: 111px;
   background-color: #4F4F4F;
   background-image: none;
   border: 0px #D2D2D2 solid;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Shape2
{
   width: 329px;
   height: 59px;
   background-color: #4F4F4F;
   background-image: none;
   border: 0px #D2D2D2 solid;
}
#ClipArt14
{
   top: 0px;
   width: 41px;
   height: 39px;
   background-color: #000000;
   background-image: none;
   border: 0px #FF0000 solid;
   -webkit-clip-path: url(#ClipArt14-clippath);
   clip-path: url(#ClipArt14-clippath);
}
#ClipArt14:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#ClipArt13
{
   top: 0px;
   width: 43px;
   height: 40px;
   background-color: #000000;
   background-image: none;
   border: 0px #FF0000 solid;
   -webkit-clip-path: url(#ClipArt13-clippath);
   clip-path: url(#ClipArt13-clippath);
}
#ClipArt13:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#ClipArt12
{
   top: 0px;
   width: 42px;
   height: 40px;
   background-color: #000000;
   background-image: none;
   border: 0px #FF0000 solid;
   -webkit-clip-path: url(#ClipArt12-clippath);
   clip-path: url(#ClipArt12-clippath);
}
#ClipArt12:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#ClipArt11
{
   top: 0px;
   width: 43px;
   height: 40px;
   background-color: #000000;
   background-image: none;
   border: 0px #FF0000 solid;
   -webkit-clip-path: url(#ClipArt11-clippath);
   clip-path: url(#ClipArt11-clippath);
}
#ClipArt11:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#ClipArt10
{
   top: 0px;
   width: 40px;
   height: 37px;
   background-color: #FF0000;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-clip-path: url(#ClipArt10-clippath);
   clip-path: url(#ClipArt10-clippath);
}
#ClipArt10:hover
{
   background-color: #3CB371;
   background-image: none;
   border: 0px #3CB371 solid;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ClipArt1
{
   width: 67px;
   height: 96px;
   background-color: #FF0000;
   background-image: none;
   border: 0px #D2D2D2 solid;
   -webkit-clip-path: url(#ClipArt1-clippath);
   clip-path: url(#ClipArt1-clippath);
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#map
{
   background-color: transparent;
   background-image: url('images/mappreview.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Editbox2
{
   line-height: 28px;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3
{
   line-height: 28px;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox4
{
   line-height: 28px;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1
{
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 0px solid #2E6DA4;
   border-radius: 0px;
   background-color: #0F97F9;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
