body
{
   background-color: #808080;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#YouTube1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube2
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube3
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube4
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube5
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
}
#YouTube6
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube7
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube8
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube9
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube10
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube11
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube12
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube13
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube14
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube15
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube16
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube20
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube21
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube22
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube24
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube17
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube18
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube19
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube23
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube25
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube26
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube27
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube28
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube29
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube30
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube31
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube32
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube33
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube34
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube35
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube36
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube37
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube38
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube39
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube40
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube41
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube42
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube43
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube44
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube45
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube46
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube47
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube48
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube49
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube50
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube51
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube52
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube53
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube54
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube55
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube56
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube57
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube58
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube59
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube60
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube61
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube62
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube63
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube64
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube65
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube66
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube67
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube68
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube69
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube70
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube71
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube72
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube73
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube74
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube75
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube76
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube77
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube78
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube79
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube80
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube81
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube82
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube83
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube84
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube85
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube86
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube87
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube88
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube89
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube90
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube91
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube92
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube93
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube94
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube95
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube96
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube97
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube98
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube99
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#YouTube100
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_YouTube39
{
   position: absolute;
   left: 425px;
   top: 1652px;
   width: 372px;
   height: 209px;
   z-index: 40;
}
#wb_YouTube38
{
   position: absolute;
   left: 808px;
   top: 1652px;
   width: 372px;
   height: 209px;
   z-index: 39;
}
#wb_YouTube37
{
   position: absolute;
   left: 1191px;
   top: 1652px;
   width: 372px;
   height: 209px;
   z-index: 38;
}
#wb_YouTube36
{
   position: absolute;
   left: 42px;
   top: 1948px;
   width: 372px;
   height: 209px;
   z-index: 37;
}
#wb_YouTube35
{
   position: absolute;
   left: 425px;
   top: 1948px;
   width: 372px;
   height: 209px;
   z-index: 36;
}
#wb_YouTube34
{
   position: absolute;
   left: 808px;
   top: 1948px;
   width: 372px;
   height: 209px;
   z-index: 35;
}
#wb_YouTube33
{
   position: absolute;
   left: 1191px;
   top: 1948px;
   width: 372px;
   height: 209px;
   z-index: 34;
}
#wb_YouTube32
{
   position: absolute;
   left: 42px;
   top: 1356px;
   width: 372px;
   height: 209px;
   z-index: 33;
}
#wb_YouTube31
{
   position: absolute;
   left: 42px;
   top: 2241px;
   width: 372px;
   height: 209px;
   z-index: 32;
}
#wb_YouTube30
{
   position: absolute;
   left: 425px;
   top: 2241px;
   width: 372px;
   height: 209px;
   z-index: 31;
}
#wb_YouTube3
{
   position: absolute;
   left: 1191px;
   top: 191px;
   width: 372px;
   height: 209px;
   z-index: 4;
}
#wb_YouTube100
{
   position: absolute;
   left: 42px;
   top: 6127px;
   width: 372px;
   height: 209px;
   z-index: 101;
}
#wb_YouTube89
{
   position: absolute;
   left: 808px;
   top: 6429px;
   width: 372px;
   height: 209px;
   z-index: 90;
}
#wb_YouTube88
{
   position: absolute;
   left: 1191px;
   top: 6429px;
   width: 372px;
   height: 209px;
   z-index: 89;
}
#wb_YouTube87
{
   position: absolute;
   left: 425px;
   top: 6727px;
   width: 372px;
   height: 209px;
   z-index: 88;
}
#wb_YouTube86
{
   position: absolute;
   left: 808px;
   top: 6727px;
   width: 372px;
   height: 209px;
   z-index: 87;
}
#wb_YouTube85
{
   position: absolute;
   left: 1191px;
   top: 6727px;
   width: 372px;
   height: 209px;
   z-index: 86;
}
#wb_YouTube84
{
   position: absolute;
   left: 425px;
   top: 7032px;
   width: 372px;
   height: 209px;
   z-index: 85;
}
#wb_YouTube83
{
   position: absolute;
   left: 808px;
   top: 7032px;
   width: 372px;
   height: 209px;
   z-index: 84;
}
#wb_YouTube82
{
   position: absolute;
   left: 1191px;
   top: 7032px;
   width: 372px;
   height: 209px;
   z-index: 83;
}
#wb_YouTube81
{
   position: absolute;
   left: 425px;
   top: 7334px;
   width: 372px;
   height: 209px;
   z-index: 82;
}
#wb_YouTube80
{
   position: absolute;
   left: 42px;
   top: 4626px;
   width: 372px;
   height: 209px;
   z-index: 81;
}
#wb_YouTube8
{
   position: absolute;
   left: 425px;
   top: 480px;
   width: 372px;
   height: 209px;
   z-index: 9;
}
#wb_YouTube99
{
   position: absolute;
   left: 42px;
   top: 5827px;
   width: 372px;
   height: 209px;
   z-index: 100;
}
#wb_YouTube98
{
   position: absolute;
   left: 42px;
   top: 6429px;
   width: 372px;
   height: 209px;
   z-index: 99;
}
#wb_YouTube97
{
   position: absolute;
   left: 42px;
   top: 6727px;
   width: 372px;
   height: 209px;
   z-index: 98;
}
#wb_YouTube96
{
   position: absolute;
   left: 42px;
   top: 7032px;
   width: 372px;
   height: 209px;
   z-index: 97;
}
#wb_YouTube95
{
   position: absolute;
   left: 42px;
   top: 7334px;
   width: 372px;
   height: 209px;
   z-index: 96;
}
#wb_YouTube94
{
   position: absolute;
   left: 1191px;
   top: 7334px;
   width: 372px;
   height: 209px;
   z-index: 95;
}
#wb_YouTube93
{
   position: absolute;
   left: 425px;
   top: 6127px;
   width: 372px;
   height: 209px;
   z-index: 94;
}
#wb_YouTube92
{
   position: absolute;
   left: 808px;
   top: 6127px;
   width: 372px;
   height: 209px;
   z-index: 93;
}
#wb_YouTube91
{
   position: absolute;
   left: 1191px;
   top: 6127px;
   width: 372px;
   height: 209px;
   z-index: 92;
}
#wb_YouTube90
{
   position: absolute;
   left: 425px;
   top: 6429px;
   width: 372px;
   height: 209px;
   z-index: 91;
}
#wb_YouTube9
{
   position: absolute;
   left: 1191px;
   top: 1061px;
   width: 372px;
   height: 209px;
   z-index: 10;
}
#wb_Text1
{
   position: absolute;
   left: 570px;
   top: 63px;
   width: 442px;
   height: 48px;
   z-index: 103;
}
#wb_YouTube49
{
   position: absolute;
   left: 425px;
   top: 3727px;
   width: 372px;
   height: 209px;
   z-index: 50;
}
#wb_YouTube48
{
   position: absolute;
   left: 808px;
   top: 3727px;
   width: 372px;
   height: 209px;
   z-index: 49;
}
#wb_YouTube47
{
   position: absolute;
   left: 1191px;
   top: 3727px;
   width: 372px;
   height: 209px;
   z-index: 48;
}
#wb_YouTube46
{
   position: absolute;
   left: 425px;
   top: 4027px;
   width: 372px;
   height: 209px;
   z-index: 47;
}
#wb_YouTube45
{
   position: absolute;
   left: 808px;
   top: 4027px;
   width: 372px;
   height: 209px;
   z-index: 46;
}
#wb_YouTube44
{
   position: absolute;
   left: 1191px;
   top: 4027px;
   width: 372px;
   height: 209px;
   z-index: 45;
}
#wb_YouTube43
{
   position: absolute;
   left: 42px;
   top: 4326px;
   width: 372px;
   height: 209px;
   z-index: 44;
}
#wb_YouTube42
{
   position: absolute;
   left: 425px;
   top: 4326px;
   width: 372px;
   height: 209px;
   z-index: 43;
}
#wb_YouTube41
{
   position: absolute;
   left: 808px;
   top: 4326px;
   width: 372px;
   height: 209px;
   z-index: 42;
}
#wb_YouTube40
{
   position: absolute;
   left: 42px;
   top: 1652px;
   width: 372px;
   height: 209px;
   z-index: 41;
}
#wb_YouTube4
{
   position: absolute;
   left: 808px;
   top: 191px;
   width: 372px;
   height: 209px;
   z-index: 5;
}
#wb_YouTube59
{
   position: absolute;
   left: 42px;
   top: 3432px;
   width: 372px;
   height: 209px;
   z-index: 60;
}
#wb_YouTube58
{
   position: absolute;
   left: 425px;
   top: 3135px;
   width: 372px;
   height: 209px;
   z-index: 59;
}
#wb_YouTube57
{
   position: absolute;
   left: 808px;
   top: 3135px;
   width: 372px;
   height: 209px;
   z-index: 58;
}
#wb_YouTube56
{
   position: absolute;
   left: 1191px;
   top: 3135px;
   width: 372px;
   height: 209px;
   z-index: 57;
}
#wb_YouTube55
{
   position: absolute;
   left: 425px;
   top: 3432px;
   width: 372px;
   height: 209px;
   z-index: 56;
}
#wb_YouTube54
{
   position: absolute;
   left: 808px;
   top: 3432px;
   width: 372px;
   height: 209px;
   z-index: 55;
}
#wb_YouTube53
{
   position: absolute;
   left: 1191px;
   top: 3432px;
   width: 372px;
   height: 209px;
   z-index: 54;
}
#wb_YouTube52
{
   position: absolute;
   left: 1191px;
   top: 4326px;
   width: 372px;
   height: 209px;
   z-index: 53;
}
#wb_YouTube51
{
   position: absolute;
   left: 42px;
   top: 3727px;
   width: 372px;
   height: 209px;
   z-index: 52;
}
#wb_YouTube50
{
   position: absolute;
   left: 42px;
   top: 4027px;
   width: 372px;
   height: 209px;
   z-index: 51;
}
#wb_YouTube5
{
   position: absolute;
   left: 425px;
   top: 191px;
   width: 372px;
   height: 209px;
   z-index: 6;
}
#wb_YouTube69
{
   position: absolute;
   left: 1191px;
   top: 4925px;
   width: 372px;
   height: 209px;
   z-index: 70;
}
#wb_YouTube68
{
   position: absolute;
   left: 425px;
   top: 5224px;
   width: 372px;
   height: 209px;
   z-index: 69;
}
#wb_YouTube67
{
   position: absolute;
   left: 808px;
   top: 5224px;
   width: 372px;
   height: 209px;
   z-index: 68;
}
#wb_YouTube66
{
   position: absolute;
   left: 1191px;
   top: 5224px;
   width: 372px;
   height: 209px;
   z-index: 67;
}
#wb_YouTube65
{
   position: absolute;
   left: 425px;
   top: 5529px;
   width: 372px;
   height: 209px;
   z-index: 66;
}
#wb_YouTube64
{
   position: absolute;
   left: 808px;
   top: 5529px;
   width: 372px;
   height: 209px;
   z-index: 65;
}
#wb_YouTube63
{
   position: absolute;
   left: 1191px;
   top: 5529px;
   width: 372px;
   height: 209px;
   z-index: 64;
}
#wb_YouTube62
{
   position: absolute;
   left: 425px;
   top: 5827px;
   width: 372px;
   height: 209px;
   z-index: 63;
}
#wb_YouTube61
{
   position: absolute;
   left: 808px;
   top: 5827px;
   width: 372px;
   height: 209px;
   z-index: 62;
}
#wb_YouTube60
{
   position: absolute;
   left: 42px;
   top: 3135px;
   width: 372px;
   height: 209px;
   z-index: 61;
}
#wb_YouTube6
{
   position: absolute;
   left: 1191px;
   top: 480px;
   width: 372px;
   height: 209px;
   z-index: 7;
}
#wb_YouTube79
{
   position: absolute;
   left: 42px;
   top: 4925px;
   width: 372px;
   height: 209px;
   z-index: 80;
}
#wb_YouTube78
{
   position: absolute;
   left: 42px;
   top: 5224px;
   width: 372px;
   height: 209px;
   z-index: 79;
}
#wb_YouTube77
{
   position: absolute;
   left: 42px;
   top: 5529px;
   width: 372px;
   height: 209px;
   z-index: 78;
}
#wb_YouTube76
{
   position: absolute;
   left: 808px;
   top: 7334px;
   width: 372px;
   height: 209px;
   z-index: 77;
}
#wb_YouTube75
{
   position: absolute;
   left: 425px;
   top: 4626px;
   width: 372px;
   height: 209px;
   z-index: 76;
}
#wb_YouTube74
{
   position: absolute;
   left: 808px;
   top: 4626px;
   width: 372px;
   height: 209px;
   z-index: 75;
}
#wb_YouTube73
{
   position: absolute;
   left: 1191px;
   top: 4626px;
   width: 372px;
   height: 209px;
   z-index: 74;
}
#wb_YouTube72
{
   position: absolute;
   left: 425px;
   top: 4925px;
   width: 372px;
   height: 209px;
   z-index: 73;
}
#wb_YouTube71
{
   position: absolute;
   left: 808px;
   top: 4925px;
   width: 372px;
   height: 209px;
   z-index: 72;
}
#wb_YouTube70
{
   position: absolute;
   left: 1191px;
   top: 5827px;
   width: 372px;
   height: 209px;
   z-index: 71;
}
#wb_YouTube7
{
   position: absolute;
   left: 808px;
   top: 480px;
   width: 372px;
   height: 209px;
   z-index: 8;
}
#wb_YouTube19
{
   position: absolute;
   left: 42px;
   top: 2835px;
   width: 372px;
   height: 209px;
   z-index: 24;
}
#wb_YouTube18
{
   position: absolute;
   left: 425px;
   top: 2835px;
   width: 372px;
   height: 209px;
   z-index: 23;
}
#wb_YouTube17
{
   position: absolute;
   left: 808px;
   top: 2835px;
   width: 372px;
   height: 209px;
   z-index: 22;
}
#wb_YouTube16
{
   position: absolute;
   left: 42px;
   top: 770px;
   width: 372px;
   height: 209px;
   z-index: 17;
}
#wb_YouTube15
{
   position: absolute;
   left: 425px;
   top: 770px;
   width: 372px;
   height: 209px;
   z-index: 16;
}
#wb_YouTube14
{
   position: absolute;
   left: 808px;
   top: 770px;
   width: 372px;
   height: 209px;
   z-index: 15;
}
#wb_YouTube13
{
   position: absolute;
   left: 1191px;
   top: 770px;
   width: 372px;
   height: 209px;
   z-index: 14;
}
#wb_YouTube12
{
   position: absolute;
   left: 42px;
   top: 1061px;
   width: 372px;
   height: 209px;
   z-index: 13;
}
#wb_YouTube11
{
   position: absolute;
   left: 425px;
   top: 1061px;
   width: 372px;
   height: 209px;
   z-index: 12;
}
#wb_YouTube10
{
   position: absolute;
   left: 808px;
   top: 1061px;
   width: 372px;
   height: 209px;
   z-index: 11;
}
#wb_YouTube1
{
   position: absolute;
   left: 42px;
   top: 191px;
   width: 372px;
   height: 209px;
   z-index: 2;
}
#wb_YouTube29
{
   position: absolute;
   left: 808px;
   top: 2241px;
   width: 372px;
   height: 209px;
   z-index: 30;
}
#wb_YouTube28
{
   position: absolute;
   left: 1191px;
   top: 2241px;
   width: 372px;
   height: 209px;
   z-index: 29;
}
#wb_YouTube27
{
   position: absolute;
   left: 42px;
   top: 2538px;
   width: 372px;
   height: 209px;
   z-index: 28;
}
#wb_YouTube26
{
   position: absolute;
   left: 425px;
   top: 2538px;
   width: 372px;
   height: 209px;
   z-index: 27;
}
#wb_YouTube25
{
   position: absolute;
   left: 808px;
   top: 2538px;
   width: 372px;
   height: 209px;
   z-index: 26;
}
#wb_YouTube23
{
   position: absolute;
   left: 1191px;
   top: 2538px;
   width: 372px;
   height: 209px;
   z-index: 25;
}
#wb_YouTube24
{
   position: absolute;
   left: 1191px;
   top: 2835px;
   width: 372px;
   height: 209px;
   z-index: 21;
}
#wb_YouTube22
{
   position: absolute;
   left: 425px;
   top: 1356px;
   width: 372px;
   height: 209px;
   z-index: 20;
}
#wb_YouTube21
{
   position: absolute;
   left: 808px;
   top: 1356px;
   width: 372px;
   height: 209px;
   z-index: 19;
}
#wb_YouTube20
{
   position: absolute;
   left: 1191px;
   top: 1356px;
   width: 372px;
   height: 209px;
   z-index: 18;
}
#wb_YouTube2
{
   position: absolute;
   left: 42px;
   top: 480px;
   width: 372px;
   height: 209px;
   z-index: 3;
}
@media only screen and (max-width: 1599px)
{
body
{
   background-color: #808080;
   background-image: none;
}
#BuildWith1
{
   left: 1438px;
   top: 7834px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#ContentPlaceHolder1
{
   left: 19px;
   top: 170px;
   width: 1534px;
   height: 7403px;
   visibility: visible;
   display: inline;
}
#ContentPlaceHolder1
{
   width: 1534px;
   height: 7403px;
}
#wb_YouTube1
{
   left: 42px;
   top: 191px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube2
{
   left: 42px;
   top: 480px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 1191px;
   top: 191px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 808px;
   top: 191px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 425px;
   top: 191px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube6
{
   left: 1191px;
   top: 480px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube7
{
   left: 808px;
   top: 480px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube8
{
   left: 425px;
   top: 480px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube9
{
   left: 1191px;
   top: 1061px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube10
{
   left: 808px;
   top: 1061px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube11
{
   left: 425px;
   top: 1061px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube12
{
   left: 42px;
   top: 1061px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube13
{
   left: 1191px;
   top: 770px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube14
{
   left: 808px;
   top: 770px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube15
{
   left: 425px;
   top: 770px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube16
{
   left: 42px;
   top: 770px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube20
{
   left: 1191px;
   top: 1356px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube21
{
   left: 808px;
   top: 1356px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube22
{
   left: 425px;
   top: 1356px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube24
{
   left: 1191px;
   top: 2835px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube17
{
   left: 808px;
   top: 2835px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube18
{
   left: 425px;
   top: 2835px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube19
{
   left: 42px;
   top: 2835px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube23
{
   left: 1191px;
   top: 2538px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube25
{
   left: 808px;
   top: 2538px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube26
{
   left: 425px;
   top: 2538px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube27
{
   left: 42px;
   top: 2538px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube28
{
   left: 1191px;
   top: 2241px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube29
{
   left: 808px;
   top: 2241px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube30
{
   left: 425px;
   top: 2241px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube31
{
   left: 42px;
   top: 2241px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube32
{
   left: 42px;
   top: 1356px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube33
{
   left: 1191px;
   top: 1948px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube34
{
   left: 808px;
   top: 1948px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube35
{
   left: 425px;
   top: 1948px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube36
{
   left: 42px;
   top: 1948px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube37
{
   left: 1191px;
   top: 1652px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube38
{
   left: 808px;
   top: 1652px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube39
{
   left: 425px;
   top: 1652px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube40
{
   left: 42px;
   top: 1652px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube41
{
   left: 808px;
   top: 4326px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube42
{
   left: 425px;
   top: 4326px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube43
{
   left: 42px;
   top: 4326px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube44
{
   left: 1191px;
   top: 4027px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube45
{
   left: 808px;
   top: 4027px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube46
{
   left: 425px;
   top: 4027px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube47
{
   left: 1191px;
   top: 3727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube48
{
   left: 808px;
   top: 3727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube49
{
   left: 425px;
   top: 3727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube50
{
   left: 42px;
   top: 4027px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube51
{
   left: 42px;
   top: 3727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube52
{
   left: 1191px;
   top: 4326px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube53
{
   left: 1191px;
   top: 3432px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube54
{
   left: 808px;
   top: 3432px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube55
{
   left: 425px;
   top: 3432px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube56
{
   left: 1191px;
   top: 3135px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube57
{
   left: 808px;
   top: 3135px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube58
{
   left: 425px;
   top: 3135px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube59
{
   left: 42px;
   top: 3432px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube60
{
   left: 42px;
   top: 3135px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube61
{
   left: 808px;
   top: 5827px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube62
{
   left: 425px;
   top: 5827px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube63
{
   left: 1191px;
   top: 5529px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube64
{
   left: 808px;
   top: 5529px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube65
{
   left: 425px;
   top: 5529px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube66
{
   left: 1191px;
   top: 5224px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube67
{
   left: 808px;
   top: 5224px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube68
{
   left: 425px;
   top: 5224px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube69
{
   left: 1191px;
   top: 4925px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube70
{
   left: 1191px;
   top: 5827px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube71
{
   left: 808px;
   top: 4925px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube72
{
   left: 425px;
   top: 4925px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube73
{
   left: 1191px;
   top: 4626px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube74
{
   left: 808px;
   top: 4626px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube75
{
   left: 425px;
   top: 4626px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube76
{
   left: 808px;
   top: 7334px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube77
{
   left: 42px;
   top: 5529px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube78
{
   left: 42px;
   top: 5224px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube79
{
   left: 42px;
   top: 4925px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube80
{
   left: 42px;
   top: 4626px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube81
{
   left: 425px;
   top: 7334px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube82
{
   left: 1191px;
   top: 7032px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube83
{
   left: 808px;
   top: 7032px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube84
{
   left: 425px;
   top: 7032px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube85
{
   left: 1191px;
   top: 6727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube86
{
   left: 808px;
   top: 6727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube87
{
   left: 425px;
   top: 6727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube88
{
   left: 1191px;
   top: 6429px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube89
{
   left: 808px;
   top: 6429px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube90
{
   left: 425px;
   top: 6429px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube91
{
   left: 1191px;
   top: 6127px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube92
{
   left: 808px;
   top: 6127px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube93
{
   left: 425px;
   top: 6127px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube94
{
   left: 1191px;
   top: 7334px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube95
{
   left: 42px;
   top: 7334px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube96
{
   left: 42px;
   top: 7032px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube97
{
   left: 42px;
   top: 6727px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube98
{
   left: 42px;
   top: 6429px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube99
{
   left: 42px;
   top: 5827px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube100
{
   left: 42px;
   top: 6127px;
   width: 372px;
   height: 209px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#ContentPlaceHolder2
{
   left: 536px;
   top: 52px;
   width: 579px;
   height: 67px;
   visibility: visible;
   display: inline;
}
#ContentPlaceHolder2
{
   width: 579px;
   height: 67px;
}
#wb_Text1
{
   left: 570px;
   top: 63px;
   width: 442px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
